*
{
    padding: 0;
    margin: 0;
}

//- colors 
$bg_gray: #E5E5E5;
$black: #212353;
$gray_black: #4B5D68;

//- fonts 
@font-face 
{
    font-family: Avenir;
    src: url('/fonts/Avenir-Regular.ttf');
}
@font-face 
{
    font-family: Helvetica;
    src: url('/fonts/Helvetica.ttf');
}
@font-face 
{
    font-family: Helvetica_Bold;
    src: url('/fonts/Helvetica-Bold.ttf');
}



body 
{
    background: linear-gradient(359deg, #ffffff, #fafaff);
}
a
{
    cursor: pointer !important;
}

.section__wrapper
{
    max-width: 1120px;
    margin: auto;
}

.header 
{
    width: 100%;
    height: 90px;
    padding-top: 20px;
    // background: red;
    display: flex;
    flex-direction: row;

    .header__logo-container
    {
        flex-basis: 20%;
        display: flex;
        
        .header__logo-container_logo
        {
            width: 47px;
            height: 50px;
            margin: auto;
            position: relative;
            top: 8px;

            .header__logo-container_logo_big
            {
                width: 18px ;
                height: 32px;
                background: #F063B8;
                border-radius: 20px;
                position: absolute;
                right: 2px;
            }
            .header__logo-container_logo_small
            {
                width: 17px;
                height: 17px;
                background: #9C69E2;
                border-radius: 20px;
                margin-left: 0px;
                position: absolute;
                left: 0;
                top: 30%;
            }
        }
        
    }

    .header__nav-links
    {
        flex-basis: 50%;
        // background: green;
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap;
        
        .header__nav-links_nav-link
        {
            margin: auto 20px;
            color: $gray_black;
            font-weight: 500;
            text-decoration: none;
            font-family: Avenir, sans-serif;
            transition: all .3s;
        }
        .header__nav-links_nav-link:hover ,
        .header__nav-links_nav-link.active 
        {
            color: $black;
            font-weight: 700;
            transition: all .3s;
        }
    }
    .header__demo-button-container
    {
        flex-basis:30%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.request-demo 
{
    width: 180px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: box-shadow .5s;

    &:hover
    {
        box-shadow: 2px 10px 20px rgba(158, 104, 219, 0.27);
    }
    
    .request-demo__icon 
    {
        position: relative;
        top: 2px;
    }
    .request-demo__text 
    {
        font-weight: 600;
        font-family: Avenir;
        margin-right: 12px;
    }
}


.save-data 
{
    margin: auto;
    margin-top: 88px;
    width: 84%;
    position: relative;

    .save-data__title 
    {
        font-family: Helvetica_Bold;
        font-weight: 500;
        font-size: 70px;
        line-height: 110%;
        width: 60%;
        color: #212353;
    }
    .save-data__paragraph
    {
        font-family: Avenir;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: #4B5D68;
        margin-top: 50px;
        width: 34%;
    }
    .save-data__lern-more-button
    {
        width: 140px;
        height: 50px;
        border: none;
        outline: none;
        background: #9C69E2;
        color: #fff;
        font-family: Avenir;
        font-size: 15px;
        border-radius: 50px;
        margin-top: 45px;
    }
    .save-data__image
    {
        position: absolute;
        left: 33%;
        top: 86px;
        width: 80%;

        .save-data__image_img
        {
            width: 100%;
            height: auto;
        }
    }
}

.section2 
{
    margin: auto;
    margin-top: 170px;
    width: 84%;

    .section2__pink-bg 
    {
        width: 91%;
        padding: 50px;
        background: rgba(240, 99, 184, 0.15);
        border-radius: 43px;
        position: relative;
        height: 372px;

        .section2__image
        {
            position: absolute;
            width: 42.5%;
            left: 11px;
            top: 25px;

            .section2__image_svg
            {
                width: 100%;
                height: auto;
            }
        }
        .section2__title
        {
            position: absolute;
            width: 45%;
            right: 6%;
            top: 100px;
            font-family: Helvetica_Bold;
            font-weight: 300;
            font-size: 34px;
            line-height: 130%;
            color: #212353;

        }
        .section2__paragraph
        {
            position: absolute;
            width: 45%;
            top: 47%;
            right: 6%;
            color: rgba(75, 93, 104, 1);
            font-family: Avenir, sans-serif;
            font-style: normal;
            line-height: 160%;
        }
    }
} 

.features
{
    width: 88%;
    margin: auto;
    margin-top: 127px;

    .features__title
    {
        font-family: Helvetica_Bold;
        font-size: 34px;
        text-align: center;
        margin: auto;
        font-weight: 200;
        color: #212353;
        margin-left: 16px;
    }
    .features__paragraph
    {
        text-align: center;
        width: 520px;
        margin: 45px auto;
        font-family: Avenir;
        color: #4B5D68;
        padding-left: 10px;
        font-size: 15.5px;
        letter-spacing: 0px;
    }
}


.feature-items
{
    margin: auto;
    margin-top: 80px;
    height: 800px;

    .feature-items__container
    {
        display: flex;
        flex-wrap: wrap;
        
        .feature-items__container_item
        {
            flex-basis: 50%;
            position: relative;
            height: 380px;

            .feature-items__container_item_bg-green
            {
                width: 75%;
                position: absolute;
                right: 0;
                opacity: 0.8;
            }
            .feature-items__container_item_bg-item1
            {
                width: 34%;
                position: absolute;
                right: 1%;
                top: -15px;
                opacity: .9;
            }
            .feature-items__container_item_bg-item2
            {
                width: 34%;
                position: relative;
                top: 40%;
                left: 60%;
                opacity: .9;
            }
            .feature-items__container_item_bg-item3
            {
                position: relative;
                top: 10%;
                left: 85%;
                opacity: .9;
            }
            .feature-items__container_item_bg-item4
            {
                position: relative;
                top: 5%;
                left: 35%;
                opacity: .9;
            }
            .feature-items__container_item_image
            {
                position: absolute;
                width: 38%;
                left: 10%;
                top: 65px;
            }
            .feature-items__container_item_title
            {
                position: absolute;
                top: 55px;
                left: 54%;
                font-family: Helvetica;
                font-weight: 800;
                font-size: 20px;
                color: #212353;
            }
            .feature-items__container_item_paragraph
            {
                position: absolute;
                top: 100px;
                left: 54%;
                font-family: Avenir;
                font-weight: 100;
                font-size: 14px;
                color: #4B5D68;
                line-height: 160%;
                letter-spacing: 0.5px;
                width: 40%;
            }
            .feature-items__container_item_link
            {
                position: absolute;
                top: 260px;
                left: 54%;
                font-family: Avenir;
                font-weight: 600;
                font-size: 14px;

                .feature-items__container_item_link_icon
                {
                    margin: 10px;
                    position: relative;
                    top: 2px;
                }
            }
        }
    }
}


.testimonials
{
    background: #9C69E2;
    width: 84%;
    padding: 30px 20px 14px 50px;
    border-radius: 40px;
    margin: auto;
    margin-bottom: 50px;
    color: #fff;
    height: 550px;
    position: relative;
    overflow: hidden;

    &::before 
    {
        content: "";
        display: block;
        width: 30%;
        height: 100%;
        background:  linear-gradient(to right, rgba(255,0,0,0), #9b69e2c9);
        position: absolute;
        right: 0;
    }
    
    .testimonials__title 
    {
        font-family: Avenir;
        font-size: 35px;
        color: #fff;
        margin-top: 40px;
    }
    .testimonials__items
    {
        height: 400px;
        margin-top: 40px;
        overflow: hidden;
        display: flex;
        width: 20000px;

        .testimonials__items_item
        {
            background: #fff;
            border-radius: 20px;
            padding: 45px 65px;
            height: 180px;
            display: flex;
            margin-right: 20px;
            width: 450px;
            box-shadow: 0px 12px 0px 0px rgba(138,86,219,255);

            .testimonials__items_item_avatar
            {
                flex-basis: 20%;
                overflow: hidden;

                .testimonials__items_item_avatar_image
                {
                    border-radius: 100%;
                    width: 70px;
                    height: 70px;
                }
            }
            .testimonials__items_item_details
            {
                margin-top: 20px;
                letter-spacing: 1px;
                flex-basis: 80%;

                .testimonials__items_item_details_name
                {
                    color: #212353;
                    font-weight: 800;
                    font-family: Helvetica;
                    font-size: 14px;
                }
                .testimonials__items_item_details_title
                {
                    color: #9C69E2;
                    font-family: sans-serif;
                    font-size: 11px;
                }
                .testimonials__items_item_details_paragraph
                {
                    color: #4B5D68;
                    font-family: Avenir;
                    font-size: 14px;
                    line-height: 180%;
                }
            }
        }
    }

    .testimonials__items_navbar
    {
        margin: -20px 0 0 0;
        display: flex;

        .testimonials__items_left-item
        {
            // position: relative;
            // left: 0;
            display: flex;
            width: 50%;

            .testimonials__items_left-item_point
            {
                width: 5px;
                height: 5px;
                display: block;
                background: #fff;
                border-radius: 100%;
                margin: 3px;
                cursor: pointer;
            }
            .testimonials__items_left-item_point.active
            {
                width: 8px;
                height: 8px;
                background: #F063B8;
                position: relative;
                top: -2px;
                cursor: default;
            }
        }
        .testimonials__items_right-item
        {
            width: 50%;
            text-align: end;
            margin-right: 60px;

            .testimonials__items_right-item_prev
            {
                margin-right: 10px;
            }
        }
    }
}

.footer-divider
{
    margin: 100px 0;
    background-color: #9C69E2;
    height: 2px;
    border: none;
    opacity: 0.2;
}


.footer 
{
    .footer__row
    {
        margin: 30px 0;
        display: flex;
        justify-content: space-between;
        font-family: Avenir;

        .footer__row_column-1
        {
            font-family: Avenir;

            .footer_row_column-1_logo
            {
                margin: 20px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 160px;
                font-family: Avenir;
                font-size: 14px;
                font-weight: 800;
                color: #212353;
            }
            .footer_row_column-1_address
            {
                color: #212353;
                font-size: 14px;
                margin: 50px 0 10px 0;
                line-height: 180%;
            }
            .footer_row_column-1_contact
            {
                color: #212353;
                font-size: 14px;
                margin: 20px 0;
                line-height: 180%;
                font-weight: 100;
            }
        }

        .footer__row_column-2,
        .footer__row_column-3,
        .footer__row_column-4
        {
            .footer__row_column-2_title,
            .footer__row_column-3_title,
            .footer__row_column-4_title,
            {
                text-decoration: none;
                font-weight: 800;
                width: 100%;
                display: block;
                margin: 25px 0 30px 0;
                font-size: 17px;
            }
            .footer__row_column-2_link,
            .footer__row_column-3_link
            {
                text-decoration: none;
                width: 100%;
                display: block;
                font-size: 15px;
                margin: 10px 0;
            }
            .footer__row_column-4_media-items
            {
                .footer__row_column-4_media-items_item-facebook,
                .footer__row_column-4_media-items_item-twitter,
                .footer__row_column-4_media-items_item-insta
                {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    border-radius: 100%;
                }
                .footer__row_column-4_media-items_item-twitter
                {
                    background: url(/images/twitter.svg);
                }    
                .footer__row_column-4_media-items_item-facebook
                {
                    background: url(/images/facebook.svg);
                }    
                .footer__row_column-4_media-items_item-insta
                {
                    background: url(/images/insta.svg);
                }    
            }
            
        }
    }
}


.try-for-free
{
    margin: 50px auto;
    width: 100%;
    display: flex;

    .try-for-free__left-block
    {
        flex-basis: 50%;

        .try-for-free__left-block_h1
        {
            font-size: 31px;
            font-weight: 600;
            font-family: Helvetica, sans-serif;
            color: #212353;
        }
        .try-for-free__left-block_small
        {
            margin-top: 20px;
            font-family: Avenir;
            font-size: 14px;
            color: #4B5D68;
        }
    }
    .try-for-free__right-block
    {
        flex-basis: 50%;
        text-align: right;

        .try-for-free__right-block_learn-more
        {
            border: none;
            outline: none;
            margin-right: 20px;
            background: #F063B8;
            color: #fff;
            width: 120px;
            height: 50px;
            box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
            border-radius: 50px;
            font-weight: 800;
            font-family: Avenir;
            transition: all .3s;
            cursor: pointer;

            &:hover 
            {
                background: #fc91d1;
            }
        }
    }
}